* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    border-style: solid black
  }

  header {
      border-style: solid black solid;
  
    padding: 20px;
    text-align: left;
    background: #13293d;
    color: white;
    display: flex; 
    justify-content: flex-start;
    align-items: row;
  }

  nav {height: 50px; 
    
width: 100%;
text-align: center;
padding: 5px;
background-color:yellow; 
border: black 10px;
font-size: 25;
display: flex;
justify-content: space-evenly;
flex-direction: row;
flex-wrap: wrap;
}
  
  


  



li {display: inline;
  



}


h2 {
  font-color: white;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
  margin: 5px 5px;
  float: right;
  height: 100px;
  width: 400px;
  display: inline-block;

}

aside {float: left}

.profileimage {
  border-radius: 25%;
  padding: 20px; 
  display: block; 
  margin-left: auto;
margin-right: auto}

section {
margin: 10px;  
padding: 40px;
  height: 200px;
  border: black solid 2px;
  border-radius: 25%;
}

article {
 
  padding: 50px;
    height: 400px;
    border: black solid;
  
  }


.Aboutme {
  height: 150px;
  width: 250px;
  border-right: 5px solid black;
  text-align: right;
  padding: 20px;
  margin: 20px; 
}

.Work {height: 150px;
  width: 250px;
  border-right: 5px solid black;
  text-align: right;
  padding: 20px;
  margin: 20px;
  display: inline; 
  
}




.Contact {text-align: center}


