* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    border-style: solid black
  }

  header {
      border-style: solid black solid;
  
    padding: 20px;
    text-align: left;
    background: #082036;
    color: white;
    display: flex; 
    justify-content: flex-start;
    align-items: row;
  }

  nav {height: 50px; 
    
width: 100%;
text-align: center;
padding: 5px;
background-color:yellow; 
border: black 10px;
font-size: 25;
display: flex;
justify-content: space-around;
flex-direction: row;
flex-wrap: wrap;
}
  
  


  



li {display: inline; margin: 40px;
  



}








.profileimage {
  border-radius: 25%;
  padding: 20px; 
  display: block; 
  margin-left: auto;
margin-right: auto}

section {
margin: 10px;  
padding: 40px;
  height: 200px;
  border: black solid 2px;
  width: auto;
  border-radius: 10%;
}

article {
 
  padding: 25px;
  margin-top: 50px;
    height: 450px;
    
  }

  .workimages {display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    color: white;
    
  }

  .workimage1 {text-align: center;
    color: white;}

    


.Aboutme {
  height: 150px;
  width: 250px;
  border-right: 5px solid black;
  text-align: right;
  padding: 20px;
  margin: 20px; 
}


  
.Contact {text-align: center}

@media screen and (max-width: 768px)
 {main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}}

@media screen and (max-width: 768px)
{header {background-color:aqua}}



@media screen and (max-width: 992px)
{main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}}

